@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}

.body {
  position: relative;
  z-index: 1;
  overflow: auto;
  font-size: 18px;
  margin: 0;
  padding: 0;
  /* background-image: linear-gradient(to bottom right, #9890e3, #b1f4cf); */
  /* dark color */
  /* background-image: linear-gradient(to bottom right, #380036, #0cbaba); */
  background-image: linear-gradient(
      217deg,
      rgba(185, 249, 254, 0.9),
      rgba(185, 249, 254, 0) 70.71%
    ),
    linear-gradient(
      127deg,
      rgba(238, 188, 227, 0.9),
      rgba(250, 206, 156, 0) 70.71%
    ),
    linear-gradient(
      336deg,
      rgba(156, 148, 248, 0.9),
      rgba(156, 148, 248, 0) 70.71%
    );

  background-repeat: no-repeat;
  transition: opacity 0.5s linear;
}

body::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: "";
  opacity: 0;
  background-image: linear-gradient(
      217deg,
      rgb(0, 0, 0),
      rgba(0, 0, 0, 0.3) 70.71%
    ),
    linear-gradient(127deg, rgb(77, 20, 55), rgba(77, 20, 55, 0.3) 70.71%),
    linear-gradient(336deg, rgb(24, 5, 148), rgba(19, 0, 141, 0.3) 70.71%);
  /* background-image: linear-gradient(
      217deg,
      rgb(0, 18, 43),
      rgba(0, 18, 43, 0.3) 70.71%
    ),
    linear-gradient(127deg, rgb(77, 20, 55), rgba(77, 20, 55, 0.3) 70.71%),
    linear-gradient(336deg, rgb(0, 77, 122), rgba(0, 77, 122, 0.3) 70.71%); */

  transition: 0.5s linear;
}

.trigger::before {
  opacity: 1;
}

.parent-wrapper {
  height: inherit;
  display: flex;
  justify-content: space-evenly;
}

.side-menu {
  min-width: 90px;
  max-width: inherit;
  height: inherit;
}

.wrapper {
  margin: 10px;
  height: inherit;
  width: 75vw;
  height: 85vh;
  display: grid;
  grid-template-rows: 1fr minmax(65px, auto);
  box-shadow: inset 0 0 0, 0px 10px 30px rgba(114, 114, 114, 0.2);
  border-radius: 20px;
  position: relative;
  z-index: 0;
}

.wrapper:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 20px;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0) 100%
  );
}

.toggledClassNightMode:after {
  background-image: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0) 100%
  );
}

.wrapper-inner {
  border-radius: 20px;
  border: 2px rgba(255, 255, 255, 0.3) solid;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-width: 0px;
  flex: 1;
  overflow-y: auto;
}

.darkmodeColor .wrapper-inner {
  border: 2px rgba(255, 208, 248, 0.3) solid;
}
.header {
  text-align: left;
  padding: 30px;
  color: white;
  font-size: 45px;
  letter-spacing: 1px;
  font-family: "Raleway", sans-serif;
}
.message-area {
  width: 100%;
  display: grid;
  padding: 10px;
  padding-top: 20px;
}
.message-area .wrapper-message {
  width: 100%;
  display: block;
}
.message-area .wrapper-message .message {
  margin: 15px;
  margin-top: 1px;
  padding: 15px;
  border: 2px rgba(255, 255, 255, 0.3) solid;
  border-radius: 20px;
  font-size: 16px;
  max-width: 70%;
  width: fit-content;
  width: -moz-fit-content;

  color: #2c2c2c;
  word-wrap: break-word;
}
.darkmodeColor .message-area .wrapper-message .message {
  color: #e7e7e7;
}

.message-area .wrapper-message .message.user {
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom-left-radius: 0;
}

.darkmodeColor .message-area .wrapper-message .message.user {
  background-color: rgba(115, 115, 115, 0.3);
  border-bottom-left-radius: 0;
}

.message-area .wrapper-message .message.you {
  background-color: rgba(255, 255, 255, 0.7);
  float: right;
  border-bottom-right-radius: 0;
}
.darkmodeColor .message-area .wrapper-message .message.you {
  background-color: rgba(0, 0, 0, 0.7);
  float: right;
  border-bottom-right-radius: 0;
}

.wrapper-message .username {
  width: 100%;
  padding-left: 20px;
  font-size: 12px;
  margin-bottom: 3px;
}

.wrapper-message .username.you {
  text-align: right;
  padding-right: 20px;
}

.image {
  margin: 1px;
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  border-collapse: separate;
}

.image.you {
  float: right;
}

.prepped-image {
  height: 150px;
  width: 150px;
  padding: 5px;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
}

.images-container {
  margin-left: 10px;
  margin-right: 10px;
}

.typing-ui {
  border: 0;
  display: grid;
  /* fr = fraction, the next element has minmax, minimum of 65px, 
  so the first element becomes dynamic and can shrink if
  the second element grows */
  grid-template-columns: 1fr minmax(65px auto);
  position: relative;
  background: rgb(255, 255, 255);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  padding: 10px;
  max-height: 200px;
  overflow-y: auto;
}

.darkmodeColor .typing-ui {
  background: linear-gradient(to right, #612d7b, #11052f);
}

.typing-area {
  display: grid;
  grid-template-columns: auto 40px;
}

.typing-ui .send-button {
  height: 35px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 5px;
  cursor: pointer;
  align-self: flex-end;
}
.typing-ui .typing-box {
  width: auto;
  height: auto;
  margin: auto 0;
  margin-left: 20px;
  cursor: text;
  padding: 10px;
  color: #212121;
  overflow-wrap: break-word;
  overflow-x: hidden;
  display: block;
}

.darkmodeColor .typing-ui .typing-box {
  color: #e7e7e7;
}

.userBroadcastStatus {
  width: 100%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  transition: 0.2s linear;
}
.lightmodeColor {
  color: #464646;
}

.darkmodeColor {
  color: #e7e7e7;
}

.swatch {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid #ffffff;
  cursor: pointer;
  margin: 10px auto;
}

.swatch.one:hover {
  transition: 0.2s linear;
  background-color: #f5f5f5;
}

.swatch.two:hover {
  transition: 0.2s linear;
  background-color: #535353;
}
.side-menu.lightmodeColor p {
  color: #212121;
}
.online-users-list {
  width: 15vw;
  min-width: auto;
  border-top: #535353 1px solid;
  padding-top: 10px;
}

.darkmodeColor .online-users-list {
  border-top: #f5f5f5 1px solid;
}

.online-user {
  padding: 5px;
  padding-left: 0;
  font-size: 12px;
}

[contenteditable] {
  outline: 0px solid transparent;
}

[placeholder]:empty::before {
  content: attr(placeholder);
  background-image: linear-gradient(to right, #d3d3d3, #cecece);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.darkmodeColor [placeholder]:empty::before {
  background-image: linear-gradient(to right, #ffffff, #ebebeb);
}

[placeholder]:empty:focus::before {
  content: "";
}
